
    #container {
     width: 300px;
     background: #fff;
     color: #555;
     border: 3px solid #ccc;
     -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
     -ms-border-radius: 10px;
     border-radius: 10px;
     border-top: 3px solid #ddd;
     padding: 1em 2em;
     margin: 0 auto;
	 margin-left:280px;
	 margin-top:100px;
     -webkit-box-shadow: 3px 7px 5px #000;
     -moz-box-shadow: 3px 7px 5px #000;
     -ms-box-shadow: 3px 7px 5px #000;
     box-shadow: 3px 7px 5px #000;
    }

#wraper {
     width: 350px;
     background:#009999;
     color: #555;
     border: 3px solid #ccc;
     -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
     -ms-border-radius: 10px;
     border-radius: 10px;
     border-top: 3px solid #ddd;
     padding: 1em 2em;
     margin: 0 auto;
	 margin-top:30px;
     -webkit-box-shadow: 3px 7px 5px #000;
     -moz-box-shadow: 3px 7px 5px #000;
     -ms-box-shadow: 3px 7px 5px #000;
     box-shadow: 3px 7px 5px #000;
    }

.body { background:url(../logos/sms%20logo6.png);}
.head{background:url(logos/head.jpg) repeat-x; height:40px; color:#FFF; text-align:center; margin-left:-8px; font-size:36px;}
.heading{color:#0033FF; background-color:#33CC99; font-size:24px;}
.subheading{color:#336666; font-weight:bold; font-size:15px;}
.sub_input{ background-color:#339999; color:#FFFFFF;}
.href{ text-decoration:none; color:#0000CC; font-size:16px; font-weight:bold;}
.button{background-color:#33CC99;}
.font{ color:#000000; font-size:16px;}
.font0{ color:#000000; font-size:16px; background-color:#33CC99;}
.font1{color:#000000; font-size:12px; font-weight:bold; font-family:"Courier New", Courier, monospace;}


.login{color:#FFFFFF; font-size:16px; font-weight:bold; font-family:"Times New Roman", Times, serif;}
.loginButton { background-color:#009966;
			  -webkit-border-radius: 10px;
    		 -moz-border-radius: 10px;
   			  -ms-border-radius: 10px;
    		 border-radius: 10px;
			 border-top: 3px solid #ddd;
			 padding: 4px 16px;
			 margin-top:10px;
			 font-size:14px;
			 font-weight:bold;
			 -webkit-box-shadow: 3px 7px 5px #000;
			 -moz-box-shadow: 3px 7px 5px #000;
			 -ms-box-shadow: 3px 7px 5px #000;
			 box-shadow: 3px 7px 5px #000; }

.mini_tab { -webkit-border-radius: 10px;
    		 -moz-border-radius: 10px;
   			  -ms-border-radius: 10px;
    		 border-radius: 10px;
			 border-top: 3px solid #ddd;
			 padding: 4px 16px;
			 margin-top:0px;
			 -webkit-box-shadow: 3px 7px 5px #666;
			 -moz-box-shadow: 3px 7px 5px #666;
			 -ms-box-shadow: 3px 7px 5px #666;
			 box-shadow: 3px 7px 5px #666;}




<!-- new line code ---   <hr />  -->


ul {
    font-family: Arial, Verdana;
    font-size: 14px;
    margin: 0;
    padding: 0;
    list-style: none;
}
ul li {
    display: block; 
    position: relative;
    float: left;
}
li ul {
    display: none;
}
ul li a {
    display: block;
    text-decoration: none;
    color: #ffffff;
	font-size:14px;
	font-weight:bold;
    border-top: 1px solid #ffffff;
    padding: 5px 15px 5px 15px;
    background: #1e7c9a;
    margin-left: 1px;
	margin: 0px 1px 0px 0px;
    white-space: nowrap;
}

ul li a:hover {
background: #3b3b3b;
}
li:hover ul {
    display: block;
    position: absolute;
}
li:hover li {
    float: none;
    font-size: 11px;
}
li:hover a { background: #3b3b3b; }
li:hover li a:hover {
    background: #1e7c9a;
}

